@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');

@theme {
  --font-sans: "Onest", ui-sans-serif, system-ui, sans-serif;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

button,
a,
[role="button"] {
  cursor: pointer;
}
